@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AngryBlu';
  src: url(../fonts/Angryblue.ttf);
  font-display: swap;
}

html {
  padding: 0;
  scroll-behavior: smooth;
}

blockquote::before {
  content: '“';
}

blockquote::after {
  content: '”';
}

.logo {
  font-family: 'AngryBlu';
}

.navbar-link {
  @apply border-b-4 border-transparent;

  &:hover {
    @apply text-black border-gray-800;
  }

  & > a {
    @apply block;
  }
}

.section {
  @apply pt-16 -mt-8;
}
