@font-face {
  font-family: 'AngryBlu';
  src: url(../fonts/ANGRYBLU.TTF);
}

html {
  padding: 0;
  scroll-behavior: smooth;
}

blockquote::before {
  content: '“';
}

blockquote::after {
  content: '”';
}

.logo {
  font-family: 'AngryBlu';
}
