@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AngryBlu';
  src: url(../fonts/ANGRYBLU.TTF);
  font-display: swap;
}

html {
  padding: 0;
  scroll-behavior: smooth;
}

blockquote::before {
  content: '“';
}

blockquote::after {
  content: '”';
}

.logo {
  font-family: 'AngryBlu';
}
